* {
    box-sizing: border-box;
}
body {

  background: $white;
  font-size: 14px;
}

.container-fluid {
  padding: 0;
}

footer {
  background: $white;
  min-height: 150px;
}

header {
  border-bottom: 1px solid $border-color;
  background: $white;
  padding: 25px 0 0;
  margin-bottom: 40px;
  h1 {
    padding: 0;
  }
  form {
    padding: 0;
  }
  .textfield {
    margin-bottom: 0;
    input {
      padding-top: .8rem;
    }
  }
}

section {
  padding: 2em;
}

.center-content {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.footer-head {
  min-height: 2em;
}

.trends {
  border: 1px solid $border-color;
  background: $white;
  padding: 10px 30px;
  max-width: 410px;
  margin-right: 0 !important;
  article {
    margin: 0px;
    height: 170px;
    padding: 15px 0;
  }
  p {
    color: $white;
    font: 600 14px $font1;
  }
  span {
    font: 600 57px $font1;
    margin-top: 30px;
    display: inline-block;
    color: $white;
  }
}

.graph {
  max-width: 600px;
  min-height: 380px;
  background: $white;
  margin-right: 2em;
  border: 1px solid $border-color;
}

.google-trends {
  .graph {
    min-height: 300px;
  }
  .google-summary {
    padding: .5em;
  }
}

.google-trends-nav {
  margin: 0 2em 0 2em;
}

.header-image {
  width: 100%
}

.infobox {
  margin: 40px 0;
}

.main-content {
  background: $white;
  padding: 2em 3em 2em 3em;
  width: 1240px;
  margin: 0 auto;
}

.quote {
  background-color: $white;
  font-family:  $font1;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 2em;
  padding: 1em;
}

.results-copy {
  margin-top: 45px;
  font-size: 30px;
}

.sentiments {
  .graph {
    min-height: 300px;
  }
}

.btn-containers {
  margin: 0 auto;
  width: 810px;
  .btn {
    width: 160px;
    height: 45px;
    margin-right: 10px;
    background: $alpha-orange;
    border-radius: 3px;
    margin-right: 35px;
  }
}
.google-trends-nav {
  .btn {
    border-radius: 3px;
  }
}
.info-google {
  margin-top: 60px;
  .card-header {
    background: #5bc0de;
  }
}
// Helper Classes
.section-headline {
  color: #fff;
  padding: 2em;
  background: rgb(22, 174, 253);
  margin-top: 60px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 3px solid #0c7ae2;

  h3 {
    font-size: 24px;
    font: 400 24px/0.85714285714286em $font2;
    text-transform: uppercase;
  }
}

.orange {
  background: $alpha-orange;
}

.red {
  background: $alpha-red;
}

.gray {
  background: $alpha-gray;
}

.brown {
  background:$alpha-brown;
}

.stand-out {
  font-size: 30px;
  color: $alpha-red;
  font-weight: 600;
}

.stand-out-white {
  font-size: 30px;
  color: $white;
  font-weight: 600;
}

.SImg {
  height: 300px;
  margin-top: 20px;
  background: url('../img/Market-Sentiment.png') no-repeat center 0;
}
.footer {
  display: none !important;
}
