// Colors

$white: #fff;
$black: #000;
$light-gray: #cecaca;
$light-yellow: #fffde7;
$tan: #f5ead6;

$alpha-red: rgba(228, 115, 115, 0.9);
$alpha-orange: rgba(237, 174, 64, 0.9);
$alpha-gray: rgba(81, 85, 87, 0.85);
$alpha-brown: rgba(72, 61, 61, 0.9);


$border-color: $light-gray;
// Fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Droid Sans', sans-serif;
