@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(bootstrap.min.css);
@import url(mdb.min.css);
* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 14px;
}

.container-fluid {
  padding: 0;
}

footer {
  background: #fff;
  min-height: 150px;
}

header {
  border-bottom: 1px solid #cecaca;
  background: #fff;
  padding: 25px 0 0;
  margin-bottom: 40px;
}
header h1 {
  padding: 0;
}
header form {
  padding: 0;
}
header .textfield {
  margin-bottom: 0;
}
header .textfield input {
  padding-top: .8rem;
}

section {
  padding: 2em;
}

.center-content {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.footer-head {
  min-height: 2em;
}

.trends {
  border: 1px solid #cecaca;
  background: #fff;
  padding: 10px 30px;
  max-width: 410px;
  margin-right: 0 !important;
}
.trends article {
  margin: 0px;
  height: 170px;
  padding: 15px 0;
}
.trends p {
  color: #fff;
  font: 600 14px "Open Sans", sans-serif;
}
.trends span {
  font: 600 57px "Open Sans", sans-serif;
  margin-top: 30px;
  display: inline-block;
  color: #fff;
}

.graph {
  max-width: 600px;
  min-height: 380px;
  background: #fff;
  margin-right: 2em;
  border: 1px solid #cecaca;
}

.google-trends .graph {
  min-height: 300px;
}
.google-trends .google-summary {
  padding: .5em;
}

.google-trends-nav {
  margin: 0 2em 0 2em;
}

.header-image {
  width: 100%;
}

.infobox {
  margin: 40px 0;
}

.main-content {
  background: #fff;
  padding: 2em 3em 2em 3em;
  width: 1240px;
  margin: 0 auto;
}

.quote {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 2em;
  padding: 1em;
}

.results-copy {
  margin-top: 45px;
  font-size: 30px;
}

.sentiments .graph {
  min-height: 300px;
}

.btn-containers {
  margin: 0 auto;
  width: 810px;
}
.btn-containers .btn {
  width: 160px;
  height: 45px;
  margin-right: 10px;
  background: rgba(237, 174, 64, 0.9);
  border-radius: 3px;
  margin-right: 35px;
}

.google-trends-nav .btn {
  border-radius: 3px;
}

.info-google {
  margin-top: 60px;
}
.info-google .card-header {
  background: #5bc0de;
}

.section-headline {
  color: #fff;
  padding: 2em;
  background: #16aefd;
  margin-top: 60px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 3px solid #0c7ae2;
}
.section-headline h3 {
  font-size: 24px;
  font: 400 24px/0.85714em "Droid Sans", sans-serif;
  text-transform: uppercase;
}

.orange {
  background: rgba(237, 174, 64, 0.9);
}

.red {
  background: rgba(228, 115, 115, 0.9);
}

.gray {
  background: rgba(81, 85, 87, 0.85);
}

.brown {
  background: rgba(72, 61, 61, 0.9);
}

.stand-out {
  font-size: 30px;
  color: rgba(228, 115, 115, 0.9);
  font-weight: 600;
}

.stand-out-white {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

.SImg {
  height: 300px;
  margin-top: 20px;
  background: url("../img/Market-Sentiment.png") no-repeat center 0;
}

.footer {
  display: none !important;
}

/*# sourceMappingURL=styles.css.map */
